@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
    color: white;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    padding: .50rem 2rem;
    margin: 1rem 0;
    border: none;
    border-radius: 2px; 
    
    &--primary {
        background-color: $feastred;
        @include default-transition-buttons;
    }
}