@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.grandfeast {
    &__hero {
        width: 100vw;
        overflow: hidden;

        &-image {
            width: 100vw;  /* Makes it span the full viewport width */
            height: auto;  /* Maintains aspect ratio */
            object-fit: cover; /* Ensures the image covers the space */
            display: block; /* Removes extra spacing from inline elements */
        }
    }

    &__copy {
        padding: 2rem;

        &-text {
            line-height: 1.6rem;
            padding-bottom: 1.5rem;

            @include desktop-1280 {
                line-height: 2.5rem;
            }
        }
    }

    &__speakers {
        text-align: center;

        &-gallery, &-image {
            padding: 1.5rem;
        }
    }

    &__form {
        background-color: black;
        color: white;
        text-align: center;
        padding: 1rem;
    }
}

.contact {
    &__form {
        padding: 0 2rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        @include desktop-1280 {
            width: 50%;
            margin: auto
        }

        &-name, &-email, &-phone, &-tickets {
            padding: .5rem;
            outline: none;
            margin: .5rem 0;
            border: 1px solid black;
            border-radius: 3px;
            

            &:focus {
                border: 1px solid $feastred;
                outline: none;
            }
        }

        &-button {
            margin: 1rem 0;
        }
    }
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    bottom: 10rem;
    right: 50%;
    transform: translate(50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;
  }