@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.grandfeast {
    &__hero {
        width: 100%; /* Ensures the container takes full width */
        overflow: hidden; /* Prevents horizontal overflow */
        display: flex;
        justify-content: center; /* Centers the image */

        &-image {
            width: 100%; /* Ensures the image scales to fit its container */
            height: auto; /* Keeps aspect ratio */
            display: block; /* Removes extra spacing from inline images */
        }
    }

    &__copy {
        @include copy-specs;

        &-text {

            &--padding-bottom {
                padding-bottom: 2rem;
            }
        }

        &-title {
            padding-bottom: 2rem;
            @include section-title;
        }
    }

    &__speakers {
        background-image: url("../../assets/images/speakersbg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: white;
        @include copy-specs;

        @include tablet-768 {
            width: 100%;
            max-width: 100%;
        }
        
        @include desktop-1280 {
            width: 100%;
            max-width: 100%;
        }

        &-title {
            padding-bottom: 2rem;
        }

        &-container {
            @include desktop-1280 {
                display: flex;
                flex-direction: row;
                max-width: 1250px;
                margin: auto;
            }
        }
    }
}