@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.countdown {
  text-align: center;
  font-family: sans-serif;
  margin-top: 3rem;

  &__title {
    padding-bottom: 2rem;
  }

  &__timer {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    font-size: 2rem;

    @include tablet-768 {
      flex-direction: row;
    }

    div {
      // background-color: $feastred;
      color: $feastred;
      // padding: 1rem;
      width: 80px;
      // margin: auto;

      @include tablet-768 {
        width: 120px;
        margin: 0;
      }
    }
  }
}
