@use "../partials/variables" as *;
@use "../partials/variables";

// media queries

@mixin desktop-1280 {
    @media (min-width: 1280px) {
        @content;
    }
}

// buttons

@mixin default-transition-buttons {
    transition: background-color 0.5s ease;
    cursor: pointer;
    &:hover {
        background-color: #ff5d62;
    }
}