@use "../../styles/partials/mixins" as *;

.ticketspage {
    background-color: black;
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;

    &__anouncement {
        width: 100%;
        // height: auto;
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }

    &__soldout {
        color: white;
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
    }
}