.sponsortierlist {
    padding: 4rem 0;
    text-align: center;
  
    &__title {
      font-weight: 700;
      margin-bottom: 3rem;
      color: #111;
      letter-spacing: 1px;
    }
  
    &__content {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: center;
      width: 100%;
      margin: auto;
    }
  
    &__tier {
      background: white;
      border-radius: 1rem;
      padding: 2rem;
      margin: 1rem;
      flex: 1 1 calc(33.333% - 2rem); // Adjusts to three columns with spacing
      // width: 300px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
  
    &__tier-title {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;

    }
  
    // Custom tier colors
    &__tier:nth-child(1) &__tier-title {
      background: linear-gradient(to right, #d3d3d3, #e6e6e6, #f5f5f5);
    }
  
    &__tier:nth-child(2) &__tier-title {
      background: linear-gradient(to right, #c19a6b, #f6e27a, #fff5cc);
    }
  
    &__tier:nth-child(3) &__tier-title {
      background: linear-gradient(to right, #a9a9a9, #d3d3d3, #d6d6d6);
    }
  
    &__tier-details {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
    }
  
    &__listitem {
      font-size: 0.95rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid #eee;
      text-align: center;

      &-fineprint {
        font-size: 0.8rem;
        color: #666;
      }
  
      &:first-child {
        font-weight: bold;
        font-size: 1.1rem;
        color: #333;
      }
    }
  }
  