@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(58, 58, 58, 1);

    &.scrolled {
      background-color: rgba(58, 58, 58, 0.5);
    }

    &__container {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  
    &__hamburger {
      cursor: pointer;
      width: 1rem;;
      left: 1rem;
      z-index: 1001;
      transition: transform 0.5s ease; // Add smooth animation
      // margin: 1rem;
  
      &.open {
        transform: rotate(180deg); // Rotate the icon when it's open
      }

      &:hover {
        @include default-transition-hover;
      }

      @include desktop-1280 {
        display: none;
      }
    }

    &__nav {
      display: none;
      color: white;

      &-li {
        padding: 0 1rem;
        font-weight: 500;

        &:hover {
          @include default-transition-hover;
        }
      }

      @include desktop-1280 {
        display: flex;
      }

      &-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
    }

    &__logo {
      width: 5rem;
      height: auto;

      &:hover {
        cursor: pointer;
        @include default-transition-hover;
      }
    }
  }